<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>In App SDK</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>TEST</string>
			<key>Titles</key>
			<array>
				<string>TEST</string>
				<string>PROD</string>
			</array>
			<key>Values</key>
			<array>
				<string>TEST</string>
				<string>PROD</string>
			</array>
			<key>Key</key>
			<string>environment</string>
			<key>Title</key>
			<string>Mode</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Test Card Info</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Type</string>
			<key>Key</key>
			<string>card_type</string>
			<key>DefaultValue</key>
			<string>visa</string>
			<key>Titles</key>
			<array>
				<string>Visa</string>
				<string>Mastercard</string>
				<string>American Express</string>
			</array>
			<key>Values</key>
			<array>
				<string>visa</string>
				<string>mastercard</string>
				<string>american_express</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>cardholder_name</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Number</string>
			<key>Key</key>
			<string>card_number</string>
			<key>DefaultValue</key>
			<string>4788250000028291</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Expiry MMYY</string>
			<key>Key</key>
			<string>card_expiry</string>
			<key>DefaultValue</key>
			<string>1014</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>CVV</string>
			<key>Key</key>
			<string>card_cvv</string>
			<key>DefaultValue</key>
			<string>123</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>CAVV</string>
			<key>Key</key>
			<string>card_cavv</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
